aiohappyeyeballs==2.4.3
aiohttp==3.11.8
aiosignal==1.3.1
anyio==4.6.2.post1
apt-xapian-index==0.49
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
async-timeout==5.0.1
attrs==24.2.0
autobahn==24.4.2
babel==2.16.0
beautifulsoup4==4.12.3
berserk==0.13.2
bleach==6.2.0
blinker==1.4
branca==0.7.2
Brlapi==0.8.3
certifi==2024.8.30
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.3.2
chess==1.11.1
click==8.0.3
colorama==0.4.4
comm==0.2.2
command-not-found==0.3
contourpy==1.3.1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.9
decorator==5.1.1
defer==1.0.6
defusedxml==0.7.1
Deprecated==1.2.15
distro==1.7.0
distro-info==1.1+ubuntu0.2
dnspython==2.7.0
exceptiongroup==1.2.2
executing==2.1.0
fastjsonschema==2.21.0
folium==0.17.0
fonttools==4.55.0
fqdn==1.5.1
frozenlist==1.5.0
geographiclib==2.0
geopy==2.4.1
googlemaps==4.10.0
h11==0.14.0
httpcore==1.0.7
httplib2==0.20.2
httpx==0.28.0
hyperlink==21.0.0
idna==3.9
importlib-metadata==4.6.4
iotop==0.6
ipykernel==6.29.5
ipython==8.29.0
ipywidgets==8.1.5
isoduration==20.11.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.4
json5==0.10.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_proxy==4.4.0
jupyter_server_terminals==0.5.3
jupyterlab==4.2.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_vpython==3.1.8
jupyterlab_widgets==3.0.13
kazam==1.4.5
keyring==23.5.0
kiwisolver==1.4.7
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
louis==3.20.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
meld==3.20.4
mistune==3.0.2
more-itertools==8.10.0
multidict==6.1.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ndjson==0.3.1
nest-asyncio==1.6.0
notebook==7.2.2
notebook_shim==0.2.4
numpy==2.1.1
oauthlib==3.2.0
onboard==1.4.1
overrides==7.7.0
packaging==24.2
pandocfilters==1.5.1
parso==0.8.4
particlepy==1.1.0
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
plotly==5.24.1
prometheus_client==0.21.0
prompt_toolkit==3.0.48
propcache==0.2.0
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pycairo==1.20.1
pycparser==2.22
pycups==2.0.1
pygame==2.6.1
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
PyQRCode==1.2.1
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-json-logger==2.0.7
python-lichess==0.10
python-vlc==3.0.20123
pyxdg==0.27
PyYAML==5.4.1
pyzmq==26.2.0
referencing==0.35.1
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.21.0
rsa==4.9
scipy==1.14.1
SecretStorage==3.3.1
Send2Trash==1.8.3
simpervisor==1.0.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
tenacity==9.0.0
terminado==0.18.1
tinycss2==1.4.0
tomli==2.2.1
tornado==6.4.2
traitlets==5.14.3
txaio==23.1.1
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36.1
unattended-upgrades==0.1
uri-template==1.3.0
urllib3==2.2.3
vpython==7.6.5
wadllib==1.3.6
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.13
wifite==2.6.0
wiringpi==3.14
wrapt==1.17.0
xdg==5
xkit==0.0.0
xyzservices==2024.9.0
yarl==1.18.0
zipp==1.0.0
